<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="change-password-page" >
    <div class="exit-btn">
            <a href="/login" class="btn btn-dark shadow-sm">← Thoát</a>
    </div>
    
    <div id="change-password-container">
        <h2>Đổi mật khẩu</h2>
    
        {% if message %}
            <div class="alert">{{ message }}</div>
        {% endif %}
    
        
        <form id="change-password-form" method="POST">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu cũ</label>
                <input type="password" name="old_password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu mới</label>
                <input type="password" name="new_password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Xác nhận mật khẩu mới</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit">Đổi mật khẩu</button>
        </form>
    </div>
    
    </body>
</html>